.container {
  font-family: monospace;
  text-align: center;
  background-color: ivory;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input {
  font-family: monospace;
  font-size: 4em;
  text-align: center;
  border-bottom: 7px dashed black;
  border-top: none;
  border-left: none;
  border-right: none;
  animation: blink 1.5s steps(1) infinite;
}

input:focus {
  border-color: tan !important;
  box-shadow: 0 0 13px tan !important;
  -moz-box-shadow: 0 0 13px tan !important;
  -webkit-box-shadow: 0 0 13px tan !important;
  outline-offset: 0px !important;
  outline: none !important;
}

@keyframes blink {
  50% {
    border-bottom: none;
  }
}

.page-name {
  color: #555555; /* dark gray */
  background-color: #f2f2f2; /* light gray */
}

.color-changer {
  font-size: 4em;
  padding: 1em;
}
